.heading {
    font-size: 3em;
    color: #00aa4f;
}

.content {
}

nav {
    border-bottom: 2px solid #b2cb7a;

    a {
        padding: 1rem 2rem;
        font-size: 20px;
    }

    .active {
        font-weight: bold;
        box-shadow: 0px 3px 10px #cccccc;
    }
}
