body {
    padding: 0 1%;
    margin: 0;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    font-size: 16px;
}

.datatable {
    height: 70vh;

    &.material {
        .datatable-header {
            background-color: #4e9a06;

            .datatable-header-cell {
                color: #ffffff;

                &.sort-active {
                    background-color: #73d216;
                }
            }
        }
    }
}

a {
    color: black;
    text-decoration: none;

    &:visited {
        color: black;
    }
}

.headline {
    font-size: 2em;
    color: #00aa4f;
    text-align: center;
}

nav {
    text-align: center;

    a {
        border-left: 1px solid #b2cb7a;
        color: black;
        padding: 0.5em;
        font-size: 1.2em;

        &:first-of-type {
            border-left: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .active {
        font-weight: bold;
    }
}
