body {
    padding: 0 1%;
    margin: 0;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    font-size: 16px;
}

.datatable {
    height: 70vh;

    &.material {
        .datatable-header {
            background-color: #4e9a06;

            .datatable-header-cell {
                color: #ffffff;

                &.sort-active {
                    background-color: #73d216;
                }
            }
        }
    }
}

a {
    color: blue;
    text-decoration: none;

    &:visited {
        color: blue;
    }
}

.heading {
    font-size: 3em;
    color: #00aa4f;
}

.content {
}

nav {
    border-bottom: 2px solid #b2cb7a;

    a {
        padding: 1rem 2rem;
        font-size: 20px;
    }

    .active {
        font-weight: bold;
        box-shadow: 0px 3px 10px #cccccc;
    }
}
