.today {
    float: left;
    width: 75%;
    flex-wrap: wrap;
    padding: 1rem;

    .date {
    }
}

.more-events {
    float: left;
    width: 15%;
    padding: 1rem;
    border-left: 1px solid #86a09d;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    event-view,
    sponsored-event {
        flex-grow: 1;
        padding: 1rem;
        max-width: 200px;
        overflow: hidden;
    }
}
